.gameBlock {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    width: 60%;
    min-width: 600px;
    min-height: 500px;
    padding: 20px;
    background-color: #EEBE33;
}

.headerBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    /*background-color: #3fd21e;*/
}

.topBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    /*background-color: #f5acac;*/
}

.scoreBoard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 90px; background-color: #efbd76;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.73);
    color: white;
    text-shadow: 1px 1px 5px #1572ce;
}

.descriptionBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 95px;
    /*background-color: #d70606;*/
    padding: 10px;
    text-shadow: 1px 1px 5px #f3f3c2;
    color: #3f4144;
}



.gameArea {
    display: grid;
    grid-column: 1;
    grid-row: 5;
    grid-gap: 5px;
    width: 100%;
    min-height: 320px;
    /*background-color: #C57C50;*/
    padding: 10px 0;
}

.loadingBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 320px;
}

.questionBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 90px;
    background-color: #efd89b;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 5px 10px;
    font-size: 0.7rem;
}

.question {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 40px;
}
.answersBlock {
    display: flex;
    width: 100%;
    justify-content: center;
    /*background-color: #ab0d0d;*/
}

.answersBlock button {
    min-width: 22%;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white;
    box-shadow: 0px 0px 2px 1px rgba(155, 150, 204, 0.73);
    font-size: 0.8rem;
}

.answersBlock button:disabled {
    color:grey;
    cursor: auto;
}

.answersBlock button:hover {
    box-shadow: 0px 0px 5px 1px rgba(68, 88, 133, 0.73);
}
