@use "../../../styles" as *;


.score {
  @include standartBlock($direction: row, $width: 100%);
  background-color: #f6c57e;
  padding: 1.2em;
  border-radius: 0.8em;
  box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.69);
  gap: 1em;
  margin: 0 0 2em 0;

  @media screen and (max-device-width: $mobile) {
    width: 100%;
  }
}