@use "../../../styles" as *;

.cart {
  color: $titleColor;

  &__buyArea {
    @include standartBlock($width: 50%);
    gap: 1em;

    @media screen and (max-device-width: $tablet) {
      width: 80%;
    }

    @media screen and (max-device-width: $mobile) {
      width: 100%;
    }
  }
}









