@font-face {
    font-family: 'Zen Dots', cursive;
    src: url('../../fonts/ZenDots-Regular.ttf') format('truetype');
    font-weight: 400;
}

.memeGenerator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.memeGameblock {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    width: 60%;
    min-width: 600px;
    /*height: 550px;*/
    background-color: #EEBE33;
    padding: 20px 0;
}

.memeHeaderBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.memeHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    /*background-color: blueviolet;*/
}

.memeInputBlock {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(40%, 1fr));
    grid-auto-rows: 30px;
    padding: 10px;
    width: 100%;
    height: 90px;
    /*background-color: blue;*/
}

.memeInputLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.memeInput {
    width: 85%;
    height: 30px;
    border-radius: 10px;
    border: none;

}

.fontImg {
    background-color: beige;
    border-radius: 3px;
    cursor: pointer;
}

.fontImg:hover {
    background-color: #f5acac;
}
.fontImg:active {
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.91);
}
.meme {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*height: 500px;*/
    /*background-color: #3fd21e;*/
    padding: 20px;
    z-index: 8;;
}

.memeImg {
    max-width: 100%;
    min-height: 400px;
    max-height: 600px;
    z-index: 9;
}

.memeText {
    position: absolute;
    cursor: move;
    z-index: 10;
    /*background-color: beige;*/
    color: beige;
    text-shadow: 0px 0px 2px #000000;
}

.buttonBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*padding: 10px 130px;*/
}

.downloadIcon {
    padding: 0 10px;
    cursor: pointer;
}

