$mainColor: #EEBE33;
$titleColor:#69696b;
$navColor: darkred;
$footerColor: #2d2d2d;
$cellBackground: rgba(245,239,206,0.91);
$trueAnswer: #0fe30ca3;
$falseAnswer: #f33f3f;
$uncheckedAnswer: rgb(100, 177, 204);