@use "../../../styles" as *;

.buttonsBlock {
  @include standartBlock($direction: row);

  &__memeButton {
    width: 92%;

    @media screen and (max-device-width: $tablet){
      width: 85%;
    }
  }

  &__downloadIcon {
    width: 6%;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.2s linear;

    @media screen and (max-device-width: $tablet){
      width: 12%;
    }

    &:hover {
      filter: brightness(0.8);
    }
  }
}