.myBtn {
    width: 25%;
    min-width: 150px;
    min-height: 45px;
    border-radius: 10px;
    background-color: #e2992b;
    border: none;
    color: beige;
    cursor: pointer;
}

.myBtn:active {
    background-color: #3fd21e;
}

.myBtn:hover {
    border: 1px solid gray;
}

.myBtn:disabled {
    background-color: #aba6a6;
    cursor: auto;
    color: gray;
}